<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Add product</title>
</head>
<body>
    <form method="post">
        Name: <input type="text" name="name"><br>
        Photo: <input type="text" name="photo"><br>
        Category:
        <select>
            {% for item in categories %}
                    <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select><br>

      <input type="submit" value="Submit">
    </form>
</body>
</html>
