<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Add retailer</title>
</head>
<body>
    <h1>Retailers</h1>
    <ul>
        {% for r in retailers %}
        <li>{{ r.name }}</li>
        {% endfor %}
    </ul>
    <h2>Add new retailer</h2>
    <form method="post">
        Retailer name: <input type="text" name="name"><br>
        <p>Which products will be sold?</p>
        {% for p in products %}
        <input type="checkbox" name="{{ p.id }}.check">{{ p.name }} @ <input type="text" name="{{ p.id }}.price"><br>
        {% endfor %}
      <input type="submit" value="Add retailer">
    </form>
    <a href="/">Back</a>
</body>
</html>
