<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Add category</title>
</head>
<body>
    <h1>Categories</h1>
    <ul>
        {% for c in categories %}
        <li>{{ c.name }}</li>
        {% endfor %}
    </ul>
    <h2>Add new category</h2>
    <form method="post">
        Category name: <input type="text" name="name"><br>
      <input type="submit" value="Add category">
    </form>
    <a href="/">Back</a>
</body>
</html>
