<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Add product</title>
</head>
<body>
    <h1>Add product</h1>
    <form method="post">
        Name: <input type="text" name="name"><br>
        Photo URL: <input type="text" name="photo"><br>
        Category:
        <select name="category">
            {% for c in categories %}
                    <option value="{{ c.id }}">{{ c.name }}</option>
            {% endfor %}
        </select><br>
      <input type="submit" value="Submit">
    </form>
    <a href="/">Back</a>
</body>
</html>
