<!DOCTYPE html>
<html>
<body>
<h1>Prisyacht</h1>
{% if category %}
<h2>{{ category.name }}</h2>
{% endif %}
<h3>Products</h3>
<table border="1" style="background-color:CornSilk;width:100%;">
<tr>
<td><b>Product</b></td>
<td><b>Image</b></td>
<td><b>Rating</b></td>
</tr>
{% for product in products %}
<tr>
<td><div class="category"><a href="/products/{{ product.id }}">{{ product.name }}</a></div></td>
<td><img border="0" src="{{ product.photo }}" alt="{{ product.name }}" width="150" height="110"></td>
<td>{{ product.rating }}</td>
</tr>
{% endfor %}
</table>
<a href="/">Back</a>
</body>
</html>
