<!DOCTYPE html>
<html>
<body>
<h1>Prisyacht</h1>
<a href="/products">View all products</a>
<h2>Categories</h2>
{% for category in categories %}
    <div class="category"><a href="/categories/{{ category.id }}">{{ category.name }}</a></div>
{% endfor %}
<h2>Controls</h2>
<a href="/add_category">Add category</a><br>
<a href="/add_product">Add product</a><br>
<a href="/add_retailer">Add retailer</a>
</body>
</html>
