<!DOCTYPE html>
<html>
<body>
<h1>Prisyacht</h1>
{% if product %}
<h2>{{ product.name }}</h2>
<img border="0" src="{{ product.photo }}" alt="{{ product.name }}" width="150" height="110">
{% endif %}

<h3>Retailers</h3>
<table border="1" style="background-color:CornSilk;width:100%;">
<tr>
<td><b>Retailer</b></td><td><b>Price</b></td>
</tr>
{% for retailer in retailers %}
<tr>
<td>{{ retailer.name }}</td><td>{{ retailer.price }}</td>
</tr>
{% endfor %}
</table>

<h3>Reviews</h3>
<table border="1" style="background-color:CornSilk;width:100%;">
<tr>
<td><b>Rating</b></td><td><b>Description</b></td>
</tr>
{% for review in reviews %}
<tr>
<td width=10>{{ review.rating }}</td><td>{{ review.description }}</td>
</tr>
{% endfor %}
</table>
<h4>Add review</h4>
Rating:<br>
<form method="post">
<select name="rating">
    <option value=5>5</option>
    <option value=4>4</option>
    <option value=3>3</option>
    <option value=2>2</option>
    <option value=1>1</option>
</select>
<br>
Description:<br>
<textarea cols=50 rows=5 name="description"></textarea><br>
<input type="submit" value="Submit"><br>
</form>
<a href="/">Back</a>
</body>
</html>
